body {
  margin: 0px;
  overflow: hidden;
  //background-color: $body-bg;
  //color: $text-color !important;
}

[ng-cloak] {
  display: none !important;
}

.castReceiverGamesDebugUi {
  z-index: 99;
}