//== Colors
$body-bg:                   #424242;

$anc-color-primary:         #f44336;

$text-color:                #fff;
$text-color-primary:        $anc-color-primary;

//== Typography
$font-family:               "Roboto", sans-serif;
