<section class="main" ng-controller="mainController as mainCtrl">
  <div class="content-grid mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-list">
        <div class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">person</i>
            <span>Patrick</span>
          </span>
          <span class="mdl-list__item-secondary-action" href="#">42 pts</span>
        </div>
        <div class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">person</i>
            <span>Patrick</span>
          </span>
          <span class="mdl-list__item-secondary-action" href="#">42 pts</span>
        </div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">

    </div>
  </div>
</section>