<section class="leaderboard" ng-controller="leaderboardController as leaderboardCtrl">
  <div layout="row" layout-xs="column" layout-margin layout-fill>
    <div flex>
      <md-subheader class="md-no-sticky">Leaderboard</md-subheader>
      <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-gt-md="60" flex="100" layout="column">
          <md-list ng-cloak="" class="">
            <md-list-item ng-repeat="player in players track by $index" ng-if="player.playerState == window.cast.receiver.games.PlayerState.AVAILABLE || player.playerState == window.cast.receiver.games.PlayerState.PLAYING">
              <img alt="{{ player.playerData.name }}" ng-src="{{ player.playerData.avatar }}" class="md-avatar">
              <p>{{ player.playerData.name }}</p>
              <div class="md-secondary">{{ player.playerData.score }} pts</div>
            </md-list-item>
          </md-list>
        </div>
      </md-content>
    </div>
    <div flex>

    </div>
  </div>
</section>