<section class="question" ng-controller="questionController as questionCtrl">
  <div layout="column" layout-margin layout-fill>
    <div flex="60" layout="row" layout-align="center center">
          <div flex="50" id="question-wrapper">
            <md-card>
              <md-card-header>
                <md-card-avatar>
                  <img class="md-user-avatar" ng-src="{{gameData.questioner_avatar}}"/>
                </md-card-avatar>
                <md-card-header-text layout="row" layout-align="left center" >
                  <span class="md-title">{{gameData.questioner}}</span>
                </md-card-header-text>
              </md-card-header>
              <md-card-content>
                <h1 class="center-text">
                  {{gameData.question}}
                </h1>
              </md-card-content>
            </md-card>
          </div>
    </div>
    <div flex="40" layout="row" layout-align="center top">
      <div id="avatars-wrapper">
        <ul ng-cloak="" class="list-inline">
          <li ng-repeat="player in players track by $index" ng-if="player.playerState == window.cast.receiver.games.PlayerState.PLAYING">
            <div class="avatar-wrapper">
              <img alt="{{ player.playerData.name }}" ng-src="{{ player.playerData.avatar }}" class="avatar" ng-class="{desaturate: !votes[player.playerId]}">
              <span class="badge" ng-if="votes[player.playerId]"><i class="material-icons">check_circle</i></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
