body {
  margin: 0px;
  overflow: hidden;
  //background-color: $body-bg;
  //color: $text-color !important;
}

[ng-cloak] {
  display: none !important;
}

.center-text {
  text-align: center;
}

.castReceiverGamesDebugUi {
  z-index: 99;
}

main {
  height: 100%;
}

#ui-view-wrapper {
  height: 100%;

  section {
    height: 100%;
  }
}
